REPO_ROOT="$(CDPATH= cd -- "$(dirname -- "${BASH_SOURCE[0]}")" && pwd)"
export REPO_ROOT
source ${REPO_ROOT}/.pixi/envs/default/Ascend/ascend-toolkit/set_env.sh
export PYTHONPATH="${REPO_ROOT}/src:$PYTHONPATH"